/* Desktop screen size */

body {
  background-color: black;
  color: white;
  box-sizing: border-box;
}

header nav ul li {
  width: 24.7%;
}

section {
  font-size: 1.6em;
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
}

h3  {
  font-size: 1.8em;
  margin: 0.2em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer nav ul li {
  width: 49.8%;
  margin: 0;
}

nav ul li {
  font-size: 1.6em;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  border: 1px solid white;
}

a {
  color: white;
}
